<html>
<head>
<title>Lutece Lab</title>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<link href="index.css" rel="stylesheet" type="text/css">
<style type="text/css">
.menu {
	font-size:16px;
	font-weight: bold;
}
a {color:black; text-decoration:none}
</style>
</HEAD>

<body>

<table width="755" border="0" align="center" cellpadding="0" cellspacing="0"> 
<tr> 
	<td colspan="2" height="20"></td> 
</tr> 
<tr> 
	<td colspan="2" align="center"> 
		<h1>Welcome to Lutece Lab! Ver 0.01</h1>
	</td> 
</tr> 
<tr> 
	<td width="203" align="center" valign="top" class="menu"> 
		<table width="203"> 
		<tr>
			<td align="center" class="menu">&nbsp;</td>
		</tr>
		
		
		<tr><td height="10" align="right" class="menu">
		</td></tr>
		<tr> 
			<td align="right" class="menu"><a href="rank.html">Ranklist</a>
			</td> 
		</tr> 
		<tr> 
			<td align="right" class="menu"><a href="problems.html">Problems</a>
			</td> 
		</tr>
		<tr> 
			<td align="right" class="menu"><a href="contest/contests.html">Contests</a>
			</td> 
		</tr> 
		<tr> 
			<td align="right" class="menu"><a href="discuss/all_topics.html">Discussion</a>
			</td> 
		</tr> 
		<tr>
			<td height="10" align="right" class="menu">
			</td>
		</tr>
		


        {% ifequal user '' %}
            <tr>
			    <td align="right" class="menu"><a href="register.html">Registe</a></td>
		    </tr>
            <tr>
			    <td align="right" class="menu"><a href="login.html">Login</a>
			</td>
        {% else %}
            <tr>
			    <td align="right" >{{ user }}</td>
		    </tr>
            <tr>
			    <td align="right" class="menu"><a href="logout">Login out</a>
			</td>

		</tr>
        {% endifequal %}

		
		
		<tr>
			<td height="10" align="right" class="menu">
			</td>
		</tr>
		<tr>
			<td align="right" class="menu"><a href="faq.html">FAQ</a>
			</td>
		</tr>
		</table> 
	</td> 
	<td width="540"> 
		<iframe src="news.html" width="100%" height="350" frameborder="0" scrolling="auto"></iframe>
	</td> 
</tr> 
<tr> 
	<td colspan="2" height="40" align="center" valign="bottom"> 
		<hr> 
		Lutece Lab 2018 @qscqesze
	</td>
</tr> 
</table> 



<div style="position:absolute; top:0; left:0;"><a style="text-decoration: none;" href="admin">&nbsp;&nbsp;</a></div>

</body>
</HTML>
