<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<title>news</title>
<link href="index.css" rel="stylesheet" type="text/css">
</head>
<body>
<table width="100%" border="0" align="center" cellpadding="3">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>


    <tr>
	<td width="20">*</td>
	<td width="180">Lab test</td>
	<td><strong><B>Database will be empty.</B></strong></td>
</tr>


<tr>
	<td width="20">*</td>
	<td width="180">2018-08-10</td>
	<td><a href="http://lutece.xyz/" target="_blank"><strong><B>Lutece</B></strong></a></td>
</tr>


    <tr>
	<td width="20">*</td>
	<td width="180">2018-08-10</td>
	<td><a href="https://github.com/qscqesze/lab" target="_blank"><strong><B>Lutece lab github</B></strong></a></td>
</tr>

        <tr>
	<td width="20">*</td>
	<td width="180">2018-08-10</td>
	<td><a href="https://job.bytedance.com/campus/" target="_blank"><strong><B>Bytedance Job Code:Q7ZWVFE</B></strong></a></td>
</tr>
</table>

</body>
</html>
