{% extends "base.html" %}
{% block mainbody %}
<h1 align="center">Problem list</h1>
<table width="580" border="1" align="center" cellpadding="3">
<tr>
	<td colspan="5">

		 <a href="rank.html?page=0">[0]</a>
		 ...
	</td>
</tr>
<tr>
	<th width="49" scope="col">ID</th>
	<th width="207" scope="col">User</th>
	<th width="94" scope="col">Submit</th>
</tr>

<tr>
	<td align="center">1001</td>
	<td align="center"><a href="problem/1001.html">titanic</a></td>
	<td align="center">1000</td>
</tr>

</table>
{% endblock %}


