


<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<title>Register a new account Lutece Lab</title>
<link href="index.css" rel="stylesheet" type="text/css">
</head>

<body>

<h1 align="center">Register a new account Lutece Lab</h1>
<form name="register" action="register.action" method="post" onsubmit="return validate(this);">
<table border="1" align="center">
	<tr>
		<td align="right">ID:</td>
		<td><input id="id" name="user.id" type="text" size="32" maxlength="32"></td>
		<td>*</td>
	</tr>
	<tr>
		<td align="right">Password:</td>
		<td><input id="password" name="user.password" type="password" size="32" maxlength=16></td>
		<td>*</td>
	</tr>
	<tr>
		<td align="right">Confirm:</td>
		<td><input name="password" type="password" size="32" maxlength=16></td>
		<td>*</td>
	</tr>
	<tr>
		<td align="right">E-Mail:</td>
		<td><input name="user.email" type="text" size="32" maxlength=100></td>
		<td>*</td>
	</tr>
	<tr align="right">
		<td colspan="3"><input name="submit" type="submit" value="Register"></td>
	</tr>
</table>
</form>
<script type="text/javascript">
function validate(form)
{

}

register.validation.value = "";
register.validation.focus();

</script>

</body>
</html>
